body {
	margin: 0;
	font-family: 'Overlock';
}

a {
	color: white;
	text-decoration: underline;
}

.navbar-link {
	text-decoration: none;
}

#header {
	background-image: url("../img/compsc2.jpg");
	color: white;
	-webkit-transform: translate3d(0,0,0);
}

#header > * {
	float: left;
	margin: 10px;
	font-family: 'Roboto Condensed';
	font-size: 20px;
}

#header-content {
	padding: 2px;
}

#profile-picture {
	margin-left: 20%;
	border: solid;
	border-color: white;
}

#username {
	font-style: bold;
	font-size: 30px;
	font-family: 'Overlock';
}

#navbar {
    text-align: center;
    background-color: #008B8B;
    z-index: 9999;
}

.nav .navbar-nav {
	display: inline-block;
	float: none;
}

#content > * {
	padding: 50px;
}

#content > div:nth-child(even) {
	background: black;
	color: gray;
}

h2 {
	color: #008B8B;
}

.fixed {
	position: fixed;
	top:0; left:0;
	width: 100%;
}

#map {
  width: 50%;
  height: 400px;
}

.date-inverted {
	float: right;
}

.inverted-content .text-muted {
	color: yellow;
}