@font-face {
	font-family: 'Ostrich Sans';
	src: local('☺'), url('../fonts/ostrich-sans-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	margin-top: 88px;
	background-color: #C9DEDB;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

@media (max-width: 482px) { 
	body {
		margin-top: 114px;
	}
}

a { color: inherit; } 

.education-content > small {
	display: block;
}

.education-content > div {
	color: white;
}

.about > a {
	font-size: 36px;
}

.about > a:hover {
	color: black;
}

.education-content {
	margin-bottom: 5px;
}

.about > h3 {
	font-family: "Ostrich Sans";
	color: white;
}

.about > div > h3 {
	font-family: "Ostrich Sans";
	color: white;
}

hr {
	border: 1px solid white;
}

.navbar {
	background-color: #1C3E3A;
}

.navbar-brand {
	margin: 0 5px 0 5px;
	height: 28px;
}

.navbar-text {
	color: #C9DEDB;
	height: 28px;
}

.disclaimer {
	color: #C9DEDB;
	text-align: center;
}

.img-circle {
    border-radius: 50%;
    height: 40px;
}

.button-circle { 
	border-radius: 50%;
}

.thumbnail > a > img {
	height: 180px;
	min-width: 50%;
	max-width: 100%;
}

.project-preview {
	margin-bottom: 20px;
}

.about {
	background-color: #2C635C;
	padding: 30px 20px 30px 20px;
	color: #C9DEDB;
}

.projects {
	padding-top: 30px;
}

.projects > .row {
	padding: 0;
}

.projects > .skill-group {
	padding: 8px;
}

.row {
	margin: 0;
}

.caption {
	margin-top: 5px;
	color: #1C3E3A;
}

.sub-skill {
	color: white;
	margin-top: 10px;
	text-align: left;
}

.progress {
	margin: 0;
}

.progress-bar {
	height: 7px;
}

.projects > h1 {
	font-family: Ostrich Sans; 
	color: #1C3E3A;
}

.skill-group > fieldset > .sub-skill {
	color: #1C3E3A;
}

fieldset {
	border: 1px solid black;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

@media (min-width: 700px) { 
	fieldset:nth-child(odd) {
	  margin-right: 3px;
	  margin-left: -3px;
	}
}

.modal-body {
	text-align: left;
	background-color: #C9DEDB;
}

.modal-header, .modal-footer {
	background-color: #2C635C;
	color: white;
}