.navbar {
	background-color: #3C887E;
}

.navbar-brand {
	margin: 0 5px 0 5px;
	height: 28px;
}

.navbar-text {
	color: #C9DEDB;
	height: 28px;
}

.img-circle {
    border-radius: 50%;
    height: 40px;
}